@model IEnumerable<Bookmark>
@{
    ViewBag.Title = Language.Bookmarks;
    Layout = "~/Views/Shared/_SideBarLayout.cshtml";
    Culture culture = ViewBag.Culture ?? ITourist.Models.DataModels.Culture.En;
}
@if (!Model.Any())
{
    <div style="font-style: italic; font-size: 150%;">@Language.YouHaveNoBookmarks</div>
    return;
}
<ul>
    @foreach (Bookmark bookmark in Model)
    {
        <li><a style="font-size: 150%;" href=" @Url.Action("ViewOnMap","Route",new{id=bookmark.RouteId}) " target=" _blank">@bookmark.Route.GetName(culture)</a></li>
    }
</ul>
<br/>
<div style="font-style: italic; font-size: 150%;">@Language.UseMobileAppToPassRoutes</div>

